.myButton {
	-moz-box-shadow: 0px 0px 0px 2px #000000;
	-webkit-box-shadow: 0px 0px 0px 2px #000000;
	box-shadow: 0px 0px 0px 2px #000000;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #040608));
	background:-moz-linear-gradient(top, #000000 5%, #040608 100%);
	background:-webkit-linear-gradient(top, #000000 5%, #040608 100%);
	background:-o-linear-gradient(top, #000000 5%, #040608 100%);
	background:-ms-linear-gradient(top, #000000 5%, #040608 100%);
	background:linear-gradient(to bottom, #000000 5%, #040608 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#040608',GradientType=0);
	background-color:#000000;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #010203;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #040608), color-stop(1, #000000));
	background:-moz-linear-gradient(top, #040608 5%, #000000 100%);
	background:-webkit-linear-gradient(top, #040608 5%, #000000 100%);
	background:-o-linear-gradient(top, #040608 5%, #000000 100%);
	background:-ms-linear-gradient(top, #040608 5%, #000000 100%);
	background:linear-gradient(to bottom, #040608 5%, #000000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#040608', endColorstr='#000000',GradientType=0);
	background-color:#040608;
}
.myButton:active {
	position:relative;
	top:130px;
	left:700px;
}
